:root{
    --extra-big-size: 55px;
}



* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    list-style: none;
    font-style: normal;
  }
  body{
      background-color: black;
      color: white;
  }

  .head-text{
    font-weight: 600;
    font-size: var(--extra-big-size);
    line-height: 75px;
    text-align: center;
  }